* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: #EBE9E4;
  color: #252525;
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}
body::-webkit-scrollbar{
  visibility: hidden;
  display: none;
  
}
main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
}
.rooms {
  padding: 32px 16px;
}
main .section {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 100vw;
  overflow-x: hidden;
}
main .section::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
.summary {
  border-radius: 0;
  max-width: 80vw;
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 8px;
}
.summary::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
.item {
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  font-size: 14px;
  transition: background-color 0.2s;
}
.item:hover {
  background-color: inherit;
}
.title {
  font-size: 64px;
  font-weight: 400  ;
}
h3, h1 {
  font-size: 24px;
  color: inherit;
  font-weight: 400;
}
h2{
  font-size: 32px;
  font-weight: 400;
}
.reel {
  width: 364px;
  min-width: 100%;
  min-height: 400px;
  gap: 16px;
  transition: background-color 0.2s;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.reel:hover {
  background-color: inherit;
}
.reel::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
.image-container {
  width: 300px;
  min-width: 300px;
  height: 400px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 8px;
  
}
.room {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: inherit;
  background-color: #fafafa;
  color: #252525;
  padding: 16px;
  border-radius: 8px;
}

.dark {
  background-color: #fafafa;
  color: #252525;
}
@media screen and (max-width: 480px) {
  body{
    max-width: 100vw;
    overflow-x: hidden !important;
  }
}