* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Lato', sans-serif;
}
body::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
main {
  color: #212121;
  display: flex;
  justify-content: space-between;
}
main .section {
  height: 100vh;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
main .section::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
.summary {
  background-color: #FAFAFA;
  border-radius: 16px;
  min-height: 53.6px;
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  max-width: 80vw;
}
.summary::-webkit-scrollbar{
  visibility: hidden;
  display: none;
}
.item {
  padding: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  font-size: 14px;
  transition: background-color 0.2s;
}
.item:hover {
  background-color: #EEEEEE;
}
h1 {
  font-size: 32px;
  font-weight: 400;
}
h2{
  font-size: 16px;
  color: #757575;
  font-weight: 400;
}
.reel {
  width: 364px;
  max-width: 364px;
  max-height: 100vh;
  gap: 16px;
  transition: background-color 0.2s;
}
.reel:hover {
  background-color: #EEEEEE;
}
.image-container {
  width: 300px;
  height: 400px;
  min-height: 400px;
  overflow: hidden;
  border-radius: 8px;
}

@media screen and (max-width: 480px) {
  main {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}